<nav>
  <h1>Football News</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'main:create_news' %}">Create News</a></li>
  </ul>

  {% if user.is_authenticated %}
    <div>
      <span>Welcome, {{ name|default:user.username }}</span>
      <span>{{ npm|default:"Student" }} - {{ class|default:"Class" }}</span>
      <a href="{% url 'main:logout' %}">Logout</a>
    </div>
  {% else %}
    <div>
      <a href="{% url 'main:login' %}">Login</a>
      <a href="{% url 'main:register' %}">Register</a>
    </div>
  {% endif %}
</nav>