 {% extends 'base.html' %}
 {% block content %}

<h1>Football News</h1>

<h4>NPM: </h4>
<p>{{ npm }}</p> <!-- Ubah sesuai dengan npm kamu -->
<h4>Name: </h4>
<p>{{ name }}</p> <!-- Ubah sesuai dengan nama kamu -->
<h4>Class: </h4>
<p>{{ class }}</p> <!-- Ubah sesuai dengan kelas kamu -->

<a href="{% url 'main:create_news' %}">
    <!-- # akan redirect ke halaman form -->
  <button>+ Add News</button>       
</a>

<hr>

{% if not news_list %}
<p>Belum ada data berita pada football news.</p>
{% else %}

{% for news in news_list %}
<div>
  <h2><a href="{% url 'main:show_news' news.id %}">{{ news.title }}</a></h2>

  <p><b>{{ news.get_category_display }}</b>{% if news.is_featured %} | 
    <b>Featured</b>{% endif %}{% if news.is_news_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ news.created_at|date:"d M Y H:i" }}</i> 
    | Views: {{ news.news_views }}</p>

  {% if news.thumbnail %}
  <img src="{{ news.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ news.content|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_news' news.id %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}

 {% endblock content %}